---
  const {content} = Astro.props;
  const {title, date, thumbnail} = content;
  const formattedDate = new Intl.DateTimeFormat('en-US').format(new Date())
---
<html lang="en">

<head>
	<meta charset="utf-8" />
	<link rel="icon" type="image/x-icon" href="/favicon.ico" />
	<meta name="viewport" content="width=device-width" />
	<title>{title}</title>
  <style>
    .hero {
      aspect-ratio: 16 / 9;
      object-fit: cover;
      width: 700px;
      display: block;
    }

    .container {
      max-width: 600px;
      margin: 0 auto;
    }
  </style>
</head>

<body>
  <main class="container">
  <picture>
    <source srcset={thumbnail}>
    <img src={thumbnail} class="hero" />
  </picture>
  <h2>{title}</h2>
  <time datetime={formattedDate}>{formattedDate}</time>
	<slot/>
  </main>
</body>
</html>